<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.porn.service.order.dao.mapper.OrderMapper">

    <!-- 统计金额 -->
    <select id="sumOrderAmount" resultType="java.math.BigDecimal"
            parameterType="com.porn.client.order.dto.OrderQueryDTO">
        select
        sum(order_amount)
        from
        porn_order
        where
        del_flag = 0
        <if test="accountId != null">
            and account_id = #{accountId}
        </if>
        <if test="accountIdList != null and accountIdList.size != 0">
            and account_id in
            <foreach collection="accountIdList" item="accId" separator="," open="(" close=")">
                #{accId}
            </foreach>
        </if>
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="merchantIdList != null and merchantIdList.size != 0">
            and merchant_id in
            <foreach collection="merchantIdList" item="merId" separator="," open="(" close=")">
                #{merId}
            </foreach>
        </if>
        <if test="startTime != null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
        <if test="orderStatus != null">
            and order_status = #{orderStatus}
        </if>
        <if test="orderStatusList != null and orderStatusList.size != 0">
            and order_status in
            <foreach collection="orderStatusList" item="orderStatus" separator="," open="(" close=")">
                #{orderStatus}
            </foreach>
        </if>
        <if test="orderType != null">
            and order_type = #{orderType}
        </if>
    </select>

</mapper>
